.heroSection-img {
	width: 100%;
	height: auto;
}
.hero-box {
    margin: 0 2% 1% 2%;
	display: flex;
	position: relative;
	border-radius: 1em;
	background: linear-gradient(rgba(144, 60, 124, 0.4), rgba(144, 60, 124, 0.4));
	width: 96%;
	height: 30em;
	overflow: hidden;
}
.heroSection-img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	opacity: .2;
	object-fit: cover;
	object-position: center;
	height: 100%;
}
p {
	position: relative;
	margin: auto;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2em;
	color: #fff;
}