th {
    padding: 10px;
}

tr {
    margin-top: 10px;
}

table {
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 24px;
}

.session-table {
    margin: 0 2%;
    width: 96%;
}

.session-img{
    width: 200px;
    height: 200px;
}

